# Example env file for running a second instance
# Usage: docker-compose --env-file .env.instance2 up -d

CONTAINER_PREFIX=bskz
CONTAINER_POSTFIX=tv
HOST_PORT_HTTP=81
HOST_PORT_API=8081
HOST_PORT_RTMP=1936
HOST_MEDIA_PATH="./media2"
